<p></p>
<ul class="list-group">
  <li class="list-group-item" routerLink="/adminUSer" routerLinkActive="active">Quản lý người dùng</li>
  <li class="list-group-item" routerLink="/adminMovie" routerLinkActive="active">Quản lý phim</li>
  <li class="list-group-item" routerLink="/adminFrequency" routerLinkActive="active">Quản lý suất chiếu</li>
  <li class="list-group-item" routerLink="/adminCinema" routerLinkActive="active">Quản lý rạp</li>
  <li class="list-group-item" routerLink="/adminTheater" routerLinkActive="active">Quản lý cụm rạp</li>
  <li class="list-group-item" routerLink="/adminBooking" routerLinkActive="active">Quản lý đặt vé</li>
  <li class="list-group-item" routerLink="/adminTicket" routerLinkActive="active">Quản lý vé</li>
</ul>
<p></p>