&nbsp;
<p></p>
<h2 class="text-center">DANH SÁCH SUẤT CHIẾU</h2>
&nbsp;
<p></p>
<div class="row mb-2">
    <div class="col-md-6" *ngFor="let item of frequencies; index as i">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Suất chiếu</strong>
                <h3 class="mb-0">
                    <a class="text-dark">{{item.idFilm.name}}</a>
                </h3>
                <small class="text-success"><b>{{item.timeStart}} - {{item.timeFinish}}</b></small>
                &nbsp;
                <div>Rạp: {{item.idCinema.name}}</div>
                <div>Loại rạp: <b class="text-danger">{{item.idCinema.theaterType}}</b></div>
                <div class="text-success">Giá vé: <b>{{item.ticketPrice}} VNĐ</b></div>
            </div>
            <button class="btn btn-outline-danger" data-toggle="modal" attr.data-target="#bookingModal{{i}}">Đặt
                vé</button>
            <img class="card-img-right flex-auto d-none d-md-block"
                src="https://serverfilm.herokuapp.com/images/{{item.idFilm.poster}}" alt="Card image cap">
        </div>


        <!-- Add -->
        <div class="modal fade" id="bookingModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">CHỌN NGÀY CHIẾU PHIM</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="BookingForm" (ngSubmit)="AddBooking(item._id)">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Phim</label>
                                <input type="text" class="form-control" readonly value="{{item.idFilm.name}}">
                            </div>

                            <div class="form-group">
                                <label>Thời gian</label>
                                <input type="text" class="form-control" readonly
                                    value="{{item.timeStart}} - {{item.timeFinish}}">
                            </div>

                            <div class="form-group">
                                <label>Loại rạp</label>
                                <input type="text" class="form-control" readonly value="{{item.idCinema.theaterType}}">
                            </div>

                            <div class="form-group">
                                <label>Giá vé</label>
                                <input type="text" class="form-control" readonly value="{{item.ticketPrice}} VNĐ">
                            </div>
                            <div class="form-group">
                                <label>Chọn ngày</label>
                                <input type="date" class="form-control" formControlName="dateFilm" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" [disabled]="BookingForm.invalid" class="btn btn-outline-primary">Hoàn tất</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>